.profile {
  display: flex;
  align-items: center;
  display: grid;
  justify-content: center;

  position: relative;
  background: rgba(255, 255, 255, 0.05);
  background: transparent;
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(15px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);

  text-align: center;
  padding: 10px;
  background: transparent;
  color: #fff;
  transition: 0.5s;

  &__container {
    position: relative;
  }
  &__picture {
    height: 200px;
    weight: 200px;
  }
}
.information {
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.5s;

  &__username {
    font-size: 10px;
  }
  &__tag {
    font-size: 14px;
  }
  &__location {
    font-size: 14px;
  }
}

.stats {
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;

  padding: 10px;
  font-size: 14px;
  background: transparent;
  color: #fff;

  &__label {
  }
  &__quantity {
  }
}
