.friend {
  width: 200px;
  text-align: center;

  padding: 8px;
  color: var(--primary-color);
  background: rgba(255, 255, 255, 0.05);
  background: transparent;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}
.friend__card {
  display: inline-flex;
  padding: 8px;
  width: 6vw;
  font-size: 12px;
  border: 1px solid rgba(233, 124, 227, 0.692);
  border-radius: 2px;
  margin: 2px;
}
.friend__title {
  font-weight: bold;
  color: var(--primary-variablecolor);
  text-transform: uppercase;
  font-size: 18px;
}
.friend__avatar {
  margin-right: 8px;
}
.friend__true {
  margin-right: 8px;
  background-color: yellowgreen;
  width: 10px;
  height: 10px;
  border-radius: 1px;
  border: 0.2px solid var(--primary-color);
}
.friend__false {
  margin-right: 8px;
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 1px;
  border: 0.2px solid var(--primary-color);
}
