.statistics {
  margin-top: 20px;
  width: 200px;
  text-align: center;
  padding: 8px;
  color: #fff;
  background: rgba(255, 255, 255, 0.05);
  background: transparent;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}
/* .statistics__box {
  display: inline;
} */
.statistics__uploads {
  display: inline-flex;
  flex-direction: column;
  padding: 8px;
  width: 6vw;
  font-size: 12px;
  border: 1px solid rgba(233, 124, 227, 0.692);
  border-radius: 2px;
  /* margin: 1px; */
}
.statistics__title {
  font-weight: bold;
  color: #6200ea;
  margin: 2px;
  text-transform: uppercase;
  font-size: 18px;
}
.statistics__label {
    font-size: 12px;
}
.statistics__percentage {
    font-size: 14px;
    font-weight: bold;
}
