.transaction__history {
  margin-top: 20px;
  padding: 8px;
  color: var(--primary-color);
  background: rgba(255, 255, 255, 0.05);
  background: transparent;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}
.headers {
  border-bottom: 1px solid rgba(233, 124, 227, 0.692);
  font-weight: bold;
  color: var(--primary-variablecolor);
  text-transform: uppercase;
  font-size: 18px;
}
.headers__type {
  padding-left: 112px;
}
.headers__amount {
  padding-left: 144px;
}
.headers__currency {
  padding-left: 92px;
}
.info {
  border-bottom: 1px solid rgba(233, 124, 227, 0.692);
}
.info:nth-child(2n) {
  padding-left: auto;
  background-color: rgba(157, 96, 255, 0.692);
  border-radius: 2px;
}
.table td {
  display: inline-block;
  padding: 4px 64px;
}
.tr {
  width: 50px;
}
.type {
  margin-left: 50px;
  width: 50px;
}
.amount {
  margin-left: 10px;
  width: 50px;
}
